.background{
    background-image: url('../../../public/images/QuizPage.png');
    width: 1920px;
    height: 969px;
}

.question-one{
    color: rgb(93, 191, 115);
    font-size: 50px;
    font-family: cursive;
    text-shadow: 2px 2px black;
    position: absolute;
    top: 350px;
    left: 350px;
    width: 1300px;
    text-align: center;
}

.btn-one{
    width: 740px;
    height: 90px;
    position: absolute;
    top: 730px;
    left: 170px;
    background-color: rgb(48, 212, 83);
    color: rgb(188, 3, 117);
    font-size: 30px;
    font-family: cursive;
    text-shadow: 2px 2px black
}

.btn-one:hover{
    background-color: rgb(9, 232, 57);
}

.btn-two{
    width: 740px;
    height: 90px;
    position: absolute;
    top: 850px;
    left: 170px;
    background-color: rgb(48, 212, 83);
    color: rgb(188, 3, 117);
    font-size: 30px;
    font-family: cursive;
    text-shadow: 2px 2px black
}

.btn-two:hover{
    background-color: rgb(9, 232, 57);
}

.btn-three{
    width: 740px;
    height: 90px;
    position: absolute;
    top: 730px;
    left: 1010px;
    background-color: rgb(48, 212, 83);
    color: rgb(188, 3, 117);
    font-size: 30px;
    font-family: cursive;
    text-shadow: 2px 2px black
}

.btn-three:hover{
    background-color: rgb(9, 232, 57);
}

.btn-four{
    width: 740px;
    height: 90px;
    position: absolute;
    top: 850px;
    left: 1010px;
    background-color: rgb(48, 212, 83);
    color: rgb(188, 3, 117);
    font-size: 30px;
    font-family: cursive;
    text-shadow: 2px 2px black
}

.btn-four:hover{
    background-color: rgb(9, 232, 57);
}