.background{
    background-image: url('../../../public/images/WrongPage.png');
    width: 1920px;
    height: 969px;
}

.text{
    color: rgb(191, 100, 93);
    font-size: 35px;
    font-family: cursive;
    text-shadow: 2px 2px black;
    position: absolute;
    top: 300px;
    left: 370px;
    width: 400px;
}

.btn-back{
    width: 180px;
    height: 100px;
    position: absolute;
    top: 470px;
    left: 1360px;
    background-color: rgb(211, 187, 184);
    color: rgb(188, 3, 117);
    font-size: 30px;
    font-family: cursive;
    text-shadow: 2px 2px black
}

.btn-back:hover{
    background-color: rgb(213, 143, 133);
}