.form-container{
    border: 4mm ridge rgba(50, 158, 220, 0.6);
    position: absolute;
    top: 300px;
    left: 500px;
    height: 400px;
    width: 700px;
    background-color: rgb(187, 216, 241);
    font-size: 30px;
    font-family: Georgia, serif;
}

.form-btn-submit{
    background-color: rgba(50, 158, 220, 0.6);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: cursive;
}
.form-btn-submit:hover{
    background-color: rgba(4, 97, 151, 0.6);
}

.login{
    text-align: center;
    margin-top: 75px;
}