.background{
    background-image: url('../../../public/images/WrongAnswerPage.png');
    width: 1920px;
    height: 969px;
}

.text{
    color: rgb(15, 185, 237);
    font-size: 40px;
    font-family: cursive;
    text-shadow: 2px 2px black;
    position: absolute;
    top: 200px;
    left: 170px;
    width: 700px;
}

.btn-back{

    width: 300px;
    height: 90px;
    position: absolute;
    top: 790px;
    left: 1420px;
    background-color: rgb(15, 185, 237);
    color: rgb(188, 3, 117);
    font-size: 30px;
    font-family: cursive;
    text-shadow: 2px 2px black
}